@import url(//db.onlinewebfonts.com/c/809e4b078034095ff3d1fb1097aadcb4?family=Old+English+(Let));

.row {
  margin: 0;
  padding: 0;
}

.dark-background {
  background-color: rgb(40, 40, 40);
}

.capitalise {
  text-transform: capitalize;
}

.stats-row {
  background-color: rgb(40, 40, 40);
}

.map-row {
  max-height: 37.5vw;
  background-color: rgb(40, 40, 40);
}

.backpack {
  overflow-y: scroll;
  max-height: 35vw;
}

.map {
  margin: 0;
  padding: 0;
}

.equipment {
  width: 100%
}
.equip {
  position: relative;
}
.entity {
  position: absolute;
  z-index: 10;
  background-color: rgba(0,0,0,0);
  font-size: 1vw;
}

.index {
  z-index: 50;
}

.player {
  z-index: 100;
}

.base {
  z-index: 1;
}

.overlay {
  position: absolute;
  left: 0;
  z-index: 20;
}

.sword {
  z-index: 200
}

.log {
  height: 10vw;
  overflow-y: scroll;
  background-color: rgb(40, 40, 40);
}

.log p {
  font-size: 1.2vw;
  padding: 0;
  margin: 0.6vw;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.cards {
  font-size: 1.1vw;
  text-transform: capitalize;
  text-align: center;
}

.no-pad {
  padding: 0;
  margin: 0;
  width: 100%;
}

* {
  color: white;
  text-align: center;
}

.stats-bars {
  margin-top: -20px;
  margin-bottom: 20px;
}

.titles {
  font-family: "Old English (LET)";
  color:  #DDA74F;
  margin: auto;
}

.titles h1 {
  color:  #DDA74F;
}

.clickable {
  cursor: pointer;
  width: 100%;
}

.background-overlay {
  position: absolute;
  opacity: 0.3;
  width: 100%;
  padding: 0;
  margin: auto;
}

.death-message {
  background-color: rgba(40, 40, 40, 0.6);
  font-family: "Old English (LET)";
  color:  #DDA74F;
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  padding-top: 15vw;
}

.death-message h1 {
  color:  #DDA74F;
}

.transparent {
  background-color: rgba(0,0,0,0)
}


.replay-button {
  cursor: pointer;
  border: 5px solid #282828;
  border-radius: 10px;
  background-color: rgba(40, 40, 40, 0.5);
  margin: 40px;
}

.gameplay-gif {

width: 80%;
margin: 10%;
border: solid 5px black;

}

